.app {
    .container {
        background-color: #f5f6f8;
        z-index: 1;
        margin-top: -5rem;
        border-radius: 4rem 4rem 0 0;
        box-shadow: 0 -20px 20px rgba($color: #000000, $alpha: 0.2);
        padding: 1rem;
        .services {
            font-size: 1.5rem;
            text-align: center;
            margin: 2rem 0 0;
            color: #f16745;
            font-weight: 900;
        }
        .travel-icons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 3rem 1rem;
            .icon {
                z-index: 2;
                text-align: center;
                margin: 0 3rem;
                img {
                    width: 50px;
                }
                p {
                    margin: 0.5rem 0;
                    color: #f35d38;
                    font-weight: 600;
                    font-size: 0.9rem;
                }
            }
        }
        .country-data {
            display: grid;
            grid-template-areas: 'form images';
            grid-template-columns: repeat(2, 1fr);
            margin: 5rem 0;
            position: relative;
            .form {
                grid-area: form;
                display: grid;
                place-content: center;
            }
            .images {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                grid-area: images;
                z-index: 3;
            }
        }
        button {
            display: block;
            margin: 2rem auto;
            width: 300px;
            font-size: 1.5rem;
            padding: 0.7rem 4rem;
            font-weight: 700;
            background-color: #f16745;
            color: #fff;
            border: 1px solid #f16745;
            border-radius: 1rem 1rem 0 0;
            box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.2);
            cursor: pointer;
            span {
                margin-right: 1rem;
            }
        }
        .color-red {
            background-color: #f48081;
            position: absolute;
            width: 350px;
            height: 350px;
            border-radius: 50%;
            z-index: 2;
            left: -10rem;
            bottom: -20rem;
        }
        .color-yellow {
            background-color: #fddd7d;
            position: absolute;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            z-index: 1;
            right: 1rem;
            bottom: -5rem;
        }
    }
    footer {
        text-align: center;
        border-top: 1px solid #ddd;
        padding: 2rem;
        margin-top: 4rem;
        color: #999;
        font-weight: 600;
        font-size: 0.9rem;
    }
}
