.country,
.city,
.area {
    z-index: 99;
    label,
    select {
        display: block;
    }

    label {
        color: #4eba9a;
        font-size: 1rem;
        font-weight: 700;
        margin: 0.5rem 0.2rem;
    }
    select {
        width: 300px;
        border: 1px solid #4eba9a;
        background-color: #fff;
        color: #266654;
        font-weight: 600;
        font-size: 1rem;
        padding: 1rem;
        text-transform: lowercase;
        border-radius: 0.3rem;
        margin-bottom: 2rem;
        cursor: pointer;
        box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.1);
        transition: all 250ms ease-in-out;
        &:focus {
            outline: none;
        }
        &:hover {
            box-shadow: none;
        }
        option {
            color: #4eba9a;
            font-weight: 600;
            margin: 1rem 0;
        }
    }
}
